.navbar.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
      a.navbar-brand(href=(title_link ? title_link : '#'))= title_text
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.timing
          a(href='javascript:category("timing")') Timing
        li.sizing
          a(href='javascript:category("sizing")') Sizing
        li.requests
          a(href='javascript:category("requests")') Requests
        li.counts
          a(href='javascript:category("counts")') Counts
      form.navbar-form.navbar-left
        .form-group
          select#urlselect.form-control
            option Select Page
        .form-group
          select#limitselect.form-control
            option(value='1') 1 (column)
            option(value='5') 5 (column)
            option(value='10', selected="selected") 10 Results
            option(value='25') 25
            option(value='50') 50
      ul.nav.navbar-nav.navbar-right
        li
          div(style="height: 50px")
            iframe(
                src="http://ghbtns.com/github-btn.html?user=jmervine&repo=bench&type=watch&count=true",
                allowtransparency="true",
                frameborder="0",
                scrolling="no",
                width="110px",
                height="20px",
                style="margin-top: 15px !important"
            )
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown') Help?
            b.caret
          ul.dropdown-menu
            li
              a(href='https://github.com/jmervine/bench') Bench Data Collector
            li
              a(href='https://github.com/macbre/phantomas#metrics') Data Key Documentation
            li
              a(href='https://github.com/jmervine/bench/issues') Report Bugs

.container
  .row
    #sidebar.col-md-2
      select#keyselect.form-control(multiple='multiple', size='28')
    .col-sm-12.col-md-10
      .container
        .row
          .col-xs-5.col-md-2
            ul.pager
              li.previous.first-lg
                a(href='javascript:navigate("first")') &#171;
              li.earlier-lg
                a(href='javascript:navigate("earlier")') &#8592;
          .col-xs-2.col-md-8
          .col-xs-5.col-md-2
            ul.pager
              li.later-lg
                a(href='javascript:navigate("later")') &#8594;
              li.next.last-lg
                a(href='javascript:navigate("last")') &#187;
      .container
        .row
          .col-xs-12.col-sm-12.col-md-12
            #highcharts
            br

    .row
      .col-3
      .col-6
        br
        center.well
          p By&nbsp;
            a(href="https://twitter.com/mervinej") @mervinej
      .col-3

